@namespace "http://www.w3.org/1999/xhtml";

    @background:   #1d1f21;
    @current-line: #282a2e;
    @selection:    #373b41;
    @foreground:   #c5c8c6;
    @comment:      #969896;
    @red:          #cc6666;
    @orange:       #de935f;
    @yellow:       #f0c674;
    @green:        #b5bd68;
    @aqua:         #8abeb7;
    @blue:         #81a2be;
    @purple:       #b294bb;

    @-moz-document domain("news.ycombinator.com") {

        ::-moz-selection {
            background: @orange !important;
            color: @background !important;
        }

        * { font-family: sans-serif !important; color: @foreground;  }

        body { margin: 0;  }

        .text-shadow {
            text-shadow: black 0px 1px 3px !important;
        }

        td.default a { .text-shadow; }

        font {
            color:inherit !important;
            font-family:inherit !important;
            font-size:inherit !important;
            text-shadow: black 0px 1px 3px !important;

        }

        td.default span.comhead a,

        td.subtext a {
            font-weight: bold;
            .text-shadow;
        }

        body > center > table > tbody > tr:first-child > td {
                background-color: @orange !important;

                * {
                    color: @background !important;
                }

        }

        .title {
            font-size: 12pt;

            a .sitestr { color: @green !important;  }
        }

        .title, .comment {

            * { color: @foreground !important;  }
            a {
                .text-shadow;
                color: @foreground !important;

                &:visited {
                    color: darken(@foreground, 40%) !important;
                }
            }
        }
        .yclinks a { color: @orange !important;  }
        .subtext {
            a, span { text-shadow: black 0px 1px 3px !important;  }
            span { color: @red !important;  }
        }

        a[href^=item] { color: @blue !important;  }

        a[href^=user] { color: @purple !important;  }


        body,
        body > center > table {
            background-color: @background !important;
            width: 99% !important;
        }
    }


